.containerTop {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  max-width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.top {
  width: 100%;
}
